* {
  margin: 0;
}

body {
  font-family: Montserrat;
  font-size: calc(7px + 17 * ((100vw - 320px) / 1120));
  background-color: #FAFAFA;
}

a {
  text-decoration: none;
  color: #252B42;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

.white {
  color: #F6F6F6;
}

.orange {
  color: #FA4A0C;
}

.__container {
  width: 80%;
  margin: auto;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

header nav img {
  margin-right: 0;
  width: calc(104px + 102 * ((100vw - 320px) / 1120));
  height: calc(51.37px + 50.39 * ((100vw - 320px) / 1120));
  margin-left: calc(25px + 65 * ((100vw - 320px) / 1120));
  margin-top: calc(8px + 19 * ((100vw - 320px) / 1120));
  margin-bottom: calc(8px + 19 * ((100vw - 320px) / 1120));
}

header nav .info {
  margin-left: 0;
  margin-right: calc(25px + 65 * ((100vw - 320px) / 1120));
}

header nav .info a {
  margin-left: calc(41px + 63 * ((100vw - 320px) / 1120));
}

header nav .info button {
  display: none;
  width: 40px;
  height: 18px;
}

header .header__section {
  background-image: url(../files/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: calc(50px + 22 * ((100vw - 320px) / 1120));
  padding-bottom: calc(100px + 46 * ((100vw - 320px) / 1120));
}

header .header__section h1 {
  margin-top: calc(27px + 26 * ((100vw - 320px) / 1120));
  margin-bottom: calc(27px + 26 * ((100vw - 320px) / 1120));
}

header .header__section .buttons {
  margin-top: calc(27px + 26 * ((100vw - 320px) / 1120));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

header .header__section .buttons a {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 17px;
  margin-right: 17px;
  width: 236px;
  height: 68px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

header .group-ph {
  position: absolute;
  top: calc(250px + 255 * ((100vw - 320px) / 1120));
  left: calc(-150px + 450 * ((100vw - 320px) / 1120));
  width: calc(458px + 200 * ((100vw - 320px) / 1120));
}

header .air {
  width: 100%;
  height: calc(458px + 146 * ((100vw - 320px) / 1120));
}

header hr {
  margin-left: 20%;
  width: 60%;
}

header .how {
  display: block;
  margin-top: 72px;
  text-align: center;
  font-size: calc(24px + 20 * ((100vw - 320px) / 1120));
}

main .main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .main__section img {
  position: relative;
  width: calc(301px + 301 * ((100vw - 320px) / 1120));
  height: calc(462px + 363 * ((100vw - 320px) / 1120));
}

main .main__section .text {
  position: absolute;
  margin-left: 50%;
}

main .main__section .text h2 {
  margin-top: calc(8px + 9 * ((100vw - 320px) / 1120));
  margin-bottom: calc(8px + 9 * ((100vw - 320px) / 1120));
}

main .main__section .i-r {
  margin-left: 45%;
}

footer .footer__section {
  text-align: center;
  padding-top: calc(110px + 20 * ((100vw - 320px) / 1120));
  background-image: url(../files/bg_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer__section .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: calc(110px + 20 * ((100vw - 320px) / 1120));
}

footer .footer__section .download a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 142px;
  height: 64px;
  background: #FA4A0C;
  border-radius: 10px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: calc(25px + 65 * ((100vw - 320px) / 1120));
  margin-left: calc(25px + 65 * ((100vw - 320px) / 1120));
}

footer nav .logo {
  width: calc(104px + 102 * ((100vw - 320px) / 1120));
  height: calc(51.37px + 50.39 * ((100vw - 320px) / 1120));
}

footer nav .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer nav .info a {
  margin-right: 12px;
  margin-left: 12px;
}

@media (max-width: 720px) {
  body {
    font-family: Montserrat;
    font-size: calc(24px + 0 * ((100vw - 320px) / 1120));
  }
  header nav a {
    display: none;
  }
  header nav button {
    display: block !important;
  }
  header .header__section {
    background-image: none;
    padding-bottom: 0;
  }
  header .header__section h1 {
    color: black;
  }
  header .header__section span {
    color: black;
  }
  header .header__section .buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header__section .buttons a {
    color: black;
    border: 1px solid #FA4A0C;
    margin-bottom: 17px;
    margin-left: 17px;
    margin-right: 17px;
  }
  header .group-ph {
    display: block;
    position: relative;
    overflow: hidden;
    top: 0;
    left: calc(-100px + 400 * ((100vw - 320px) / 1120));
    width: calc(458px + 200 * ((100vw - 320px) / 1120));
  }
  header .air {
    display: none;
  }
  header .how {
    padding-bottom: 30px;
  }
  main .main__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main__section img {
    margin-left: 24%;
    width: calc(602px + 0 * ((100vw - 320px) / 1120));
    height: calc(825px + 0 * ((100vw - 320px) / 1120));
  }
  main .main__section .text {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    margin-left: 0;
  }
  main .main__section .text span {
    display: block;
    text-align: center;
  }
  main .main__section .text h2 {
    text-align: center;
  }
  main .main__section .i-r {
    margin-left: 24%;
  }
  footer .footer__section {
    background-image: none;
    background-color: #252B42;
  }
  footer nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer nav .logo {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */